@import "../bower/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "_sprite.scss";
@import "_fonts.scss";

// Template style
body {
	background: url("../images/bg_body.gif");
}
a {
	color: #bf0c0c;
	outline: none;
	text-decoration: underline;
	&:hover {
		color: #bf0c0c;
		text-decoration: none;
	}
}
a:active, a:focus {
	outline: none;
}
h1, h2 {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	color: #000;
	font: 700 30px "ptsans";
	text-transform: uppercase;
}
h3 {
	color: #000;
	font: bold 25px "ptsans";
}
li {
	list-style-image: url("../images/li.jpg");
	color: #000;
	font: bold 20px "ptsans";
}
input[type=text], input[type=search], input[type=password] {
	box-shadow: inset 2.1px 2.1px 3px rgba(0, 0, 0, 0.5);
	background-color: #FFF;
	border: none;
	border-radius: 5px;
	color: #000;
	font-family: "ptsans";
	font-size: 20px;
	font-weight: 400;
	padding: 0 22px;
}
.modal {
	background-color: #fbfcfc;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	color: #333;
	display: none;
	left: 50%;
	margin-left: -150px;
	overflow: hidden;
	position: fixed;
	top: 25%;
	width: 300px;
}
.modal.modal-login {
	margin-left: -225px;
	top: 50px;
	width: 450px;
}
.header {
	background: #bf0c0c;
	min-height: 106px;
}
.logo {
	display: block;
	height: 96px;
	margin: 5px 0 0 0;
	width: 86px;
}
.main-menu {
	ul {
		line-height: 106px;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			list-style: none;
			a {
				background-color: #FFF;
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
				border-radius: 5px;
				color: #bf0c0c;
				font: 20px/106px "ptsans";
				margin: 0 15px 0 0;
				padding: 7px 10px;
				text-decoration: none;
				&:hover {
					box-shadow: inset 2.1px 2.1px 3px rgba(0, 0, 0, 0.5);
					background-color: #8B0101;
					border-radius: 5px;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}
.search {
	float: right;
	margin: 43px 0 0;
	input[type=text] {
		margin: 0 20px 0 0;
		width: 180px;
	}
	input[type=submit] {
		background: url("../images/search.png") no-repeat 0 3px;
		border: none;
		display: inline-block;
		height: 31px;
		text-indent: -9999px;
		width: 20px;
	}
}
.link-dotted {
	display: none;
}
.icon-synio-search {
	background: url("../images/search.png") no-repeat;
	cursor: pointer;
	display: block;
	height: 20px;
	width: 20px;
}
.content {
	background-color: #FFF;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	h1 {
		border-bottom: 1px solid #000;
		border-top: 1px solid #000;
		color: #000;
		font: 700 30px "ptsans";
		text-transform: uppercase;
	}
}
.article-dep {
	font: bold 25px "ptsans";
	margin: 0 0 45px;
	text-align: right;
	.article-text {
		display: table-cell;
		height: 210px;
		vertical-align: middle;
		width: 845px;
	}
}
.img-rad {
	border-radius: 50%;
	float: right;
	height: 210px;
	overflow: hidden;
	width: 210px;
	img {
		max-width: 100%;
	}
}
.article-wrap {
	margin: 0 0 34px 0;
	overflow: hidden;
}
.wrap-text {
	float: left;
	text-align: right;

	.text {
		font: bold 25px "ptsans";
		height: 123px;
		display: table-cell;
		vertical-align: middle;
		width: 415px;
	}
}
.small {
	height: 123px;
	width: 123px;
}
.wrap-messege {
	background-color: #EFEFEF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	height: 69px;
}
.footer {
	line-height: 130px;
	height: 130px;
	background-color: #EFEFEF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.copy {
	color: #BF0F0F;
	font-family: "ptsans";
	font-size: 15px;
	font-weight: 400;
	margin: 0;
}
.ya {
	display: none;
}
.selecter {
	max-width: 100%;
	margin: 15px 0 10px;
}
.selecter-selected {
	box-shadow: inset 2.1px 2.1px 3px rgba(0, 0, 0, 0.5);
	background-color: #FFF;
	border-radius: 5px;
	border: 0;
	width: 100%;
	&::after {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #000;
	}
}
.topic-header {
	margin: 12px 0 0;
}
.topic {
	border-bottom: 1px solid #000;
	overflow: hidden;
	padding: 0 0 21px;
	&:last-child {
		border-bottom: 0;
	}
}
.topic-title {
	border: 0;
	color: #BF0C0C;
	font-family: "ptsans";
	font-size: 25px;
	font-weight: 700;
	margin: 0 0 9px 0;
	padding: 0 0 0 20px;
	text-decoration: underline;
	text-transform: inherit;
	&:hover {
		text-decoration: none;
	}
}
.date {
	color: #C1C1C1;
	font-family: "ptsans";
	font-size: 25px;
	font-weight: 700;
	margin: 0;
	text-align: right;
	padding: 0 20px 0 0;
}
.topic-info {
	color: #D0D0D0;
	font-family: "ptsans";
	font-size: 20px;
	font-weight: 400;
	padding: 0 20px;
}
.topic-content {
	background: #efefef;
	color: #000;
	font-family: "ptsans";
	font-size: 15px;
	font-weight: 400;
	margin: 0 0 16px;
	padding: 18px 20px 32px;
}
.stream-comment-preview {
	color: #BF0C0C;
	font-family: "ptsans";
	font-size: 15px;
	font-weight: 400;
	background-color: #D3D3D3;
	border-radius: 5px;
	padding: 22px 20px;
}
.topic-date {
	color: #C1C1C1;
	font-family: "PTSans";
	font-size: 25px;
	font-weight: 700;
	padding: 0 20px;
	text-align: right;
}