<?xml version="1.0" encoding="UTF-8"?><plugin>	<name>		<lang name="default">Subscription</lang>	</name>	<author>		<lang name="default">0xFF aka AlikMis</lang>	</author>	<homepage>http://2api.ru</homepage>	<version>0.1</version>	<requires>		<livestreet>1.0</livestreet>		<plugins>		</plugins>	</requires>	<description>		<lang name="default">Подписка на блоги гостем</lang>	</description>	<delegate>		<module></module>		<action></action>		<template></template>		<entity></entity>	</delegate></plugin>