<?xml version="1.0" encoding="UTF-8"?><plugin>	<name>		<lang name="default">Reception Desk</lang>	</name>	<author>		<lang name="default">0xFF aka AlikMish</lang>	</author>	<version>1.0.4</version>	<homepage>http://2api.ru</homepage>	<requires>		<livestreet>1.0</livestreet>		<plugins></plugins>	</requires>	<description>		<lang name="default">Приемная</lang>	</description></plugin>